@tailwind base;
@tailwind components;
@tailwind utilities;

/* color schemes for the site*/
/* --class-name represents the color preset fo eg. in a p tag we can use text-text-main, text-main being the color*/
body.dark {
    background-color: #111827;
    --primary: #111827;
  }
  
body.light {
    --primary: white;
  }

/* Global links */
a {
    @apply text-slate-500 dark:text-slate-400 hover:text-gray-800 dark:hover:text-slate-300 hover:underline;
 }

/* Manual Markdown styles */
ul {
    @apply list-disc;
   }   

/* Only mdx links */
.mdx a {
    @apply font-semibold text-gray-700 dark:text-[#808a9e] underline decoration-[0.5px] hover:decoration-[1.5px];
 }

body {
    font-family: Helvetica, sans-serif, Arial;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-xl;
}

.task-list-item {
    @apply list-none;
}

ul > li {
    margin-left: 1rem;
}

blockquote {
    @apply relative p-2 text-xl italic border-l-[3.5px] text-neutral-600 dark:text-gray-400 border-neutral-300 dark:border-gray-400;
}

/* Table styles */

table {
    @apply table-auto min-w-full;
}

thead {
    @apply border-b border-gray-400;
}

th {
    @apply text-sm font-medium text-gray-900 dark:text-gray-400 px-6 py-4 text-left;
}

tbody tr {
    @apply border-b transition duration-300 ease-in-out hover:bg-gray-100 dark:hover:bg-[#202a42];
}

tbody tr td {
    @apply text-sm text-gray-900 dark:text-gray-400 font-light px-6 py-4 whitespace-nowrap;
}

/* Code block styles */
pre {
    @apply rounded-[11px] drop-shadow-lg;
}

/* Tags container */
.tag-container a {
    text-decoration: none;
}